body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Fira Sans', sans-serif;
}

.navLogo {
	position: relative;
	top: 12px;
}

.hero {
	border-top: 1px solid black;
}

nav {
	margin-top: 20px;
	margin-right: 13%;
	ul {
		text-align: center;
		li {
			display: inline-block;
			padding: 15px 25px;
			a {
				font-size: 12px;
				text-decoration: none;
				color: black;
				text-transform: uppercase;
				font-weight: 700;
				// letter-spacing: 1px;
				transition: 0.3s;
				&:hover, &:focus {
					color: #E21B70;
					text-decoration: none;
				}
			}
		}
		.mainCat {
			&:hover .subCat {
				display: block;
			}
			.subCat {
				display: none;
				position: absolute;
				padding-left: 0;
				background-color: white;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				text-align: left;
				z-index: 1;
				&:hover {
					display: block;
				}
				li {
					display: block;
					&:hover {
						background-color: lightgrey;
					}
					a {
						text-decoration: none;
						font-size: 12px;
						font-weight: 400;
						text-transform: none;
						cursor: auto;
						&:hover, &:focus {
							text-decoration: none;
							color: black;
						}
					}
				}
				h3 {
					margin-left: 24px;
				}
			}
		}
	}
}

div {
	img {
		width: 100%;
	}
}

.stickyNav {
	margin-top: 10px;
	border-bottom: 1px solid black;
	font-family: 'Fira Sans', sans-serif;
	.leftPromo {
		p {
			font-style: italic;
		}
	}
	.global {
		p {
			color: red;
			font-weight: 700;
		}
	}
	.account {
		.accountLink {
			a {
				color: black;
			}
		}
	}
}

#listAmount {
	width: 30%;
	margin: 10px 0;
}

input {
	margin: 15px 0;
}
