<!DOCTYPE html>
<html lang="en" ng-app="CrNav">
<head>
	<meta charset="UTF-8">
	<title>CR Angular Nav</title>
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>

<div class="container-fluid">
	<nav>
		<ul>
			<li class="mainCat"><a href="#/">New</a>
				<ul ng-controller="NewLinksCtrl" class="subCat">
					<h3>{{dressLinkData[0].header}}</h3>
					<li ng-repeat="links in newLinkData">{{links.section}}</li>
				</ul>
			</li>
			<li class="mainCat"><a href="#/">Shoes</a>
				<ul ng-controller="ShoesLinksCtrl" class="subCat">
					<li ng-repeat="shoes in shoesLinkData">{{shoes.section}}</li>
				</ul>
			</li>
			<li class="mainCat"><a href="#/">Dresses</a>
				<ul ng-controller="DressLinksCtrl" class="subCat">
					<li ng-repeat="dress in dressLinkData">
					{{dress.section}}</li>
				</ul>
			</li>
			<li><a href="#/">Clothes</a></li>
			<li><a href="#/">Plus Sizes</a></li>
			<li><a href="#/">Accessories</a></li>
			<li><a href="#/">Sale</a></li>
		</ul>
	</nav>
</div>

<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../node_modules/angular-route/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>